/assignment-1/env/
/assignment-1/jenkins_home/
/assignment-1/sonarqube_conf/
/assignment-1/sonarqube_data/
/assignment-1/sonarqube_db/
/assignment-1/sonarqube_extensions/
/assignment-1/sonarqube_logs/